# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Flask
instance/
.webassets-cache

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Generated outputs
outputs/*.png
outputs/*.jpg
outputs/*.jpeg
outputs/*.webp
